<%= form_with(model: booking, class: "booking_form", local: true, validate: true ) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "bookingForm">
    <h1>New Booking</h1>
  <div class = "form-group">
    <%= form.label :Barber %>
    <%= collection_select(:booking, :barber_id, Barber.all, :id, :name, {}, {:multiple => false})%>
  </div>


  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= form.label :time %>
      <%= form.time_select :time, class: "form-control" %>
    </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ["Booked", "Cancelled"], class: "form-control" %>
  </div>

  <div class = "form-group" style = 'display:none;'>
    <%=form.select :user_id,  [current_user.id] %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
    <%= button_to 'Back', bookings_path, class:"btn btn-primary"%>
  </div>
</div>
<% end %>
