<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class = "container-fluid">
    <h1>New Booking</h1>
  <div class = "field">
    <%= form.label :Barber %>
    <%= collection_select(:booking, :barber_id, Barber.all, :id, :name, {}, {:multiple => false} )%>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ["Booked", "Cancelled"] %>
  </div>

  <div class = "field" style = 'display:none;'>
    <%=form.select :user_id,  [current_user.id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
