<p id="notice"><%= notice %></p>

<div class = "container-fluid">
<p id = "th1">
  <strong>Barber:</strong>
  <%= Barber.find(@booking.barber_id).name %>
</p>

<p id = "th1">
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

  <p id = "th1">
    <strong>Time:</strong>
    <%= @booking.time.strftime("%I:%M%p") %>
  </p>


<p id = "th1">
  <strong>Status:</strong>
  <%= @booking.status %>
</p>
</div>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
