<p id="notice"><%= notice %></p>

<div class = "container-fluid">
<p>
  <strong>Barber:</strong>
  <%= Barber.find(@booking.barber_id).name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>
</div>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
