<p id="notice"><%= notice %></p>

<div class="container-fluid">
<h1><%=t('barber') %></h1>
<table class = "table">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('phone') %></th>
      <th><%= t('email') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbers.each do |barber| %>
      <tr>
        <td><%= barber.name %></td>
        <td><%= barber.phone %></td>
        <td><%= barber.email %></td>
        <td><%= link_to 'Show', barber %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
<br>


