<!DOCTYPE html>
<html>
<head>
  <title>NS00790 COM2025 Project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home"><%= t('title') %></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home"><%= t('home') %></a></li>
      <li><a href="/contact"><%= t('contact') %></a></li>
      <li><a href="/bookings"><%= t('appointment') %></a></li>
      <li><a href="/our-team"><%=t('team') %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/sign_in"> <% if signed_in? %>
          Signed in as: <%= current_user.email %>
        <% else %>
          <%= button_to 'Sign in', sign_in_path, class:"btn btn-primary" %>
        <% end %></a></li>
      <li><a href="/signout">

        <% if signed_in? %>
          <%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn btn-primary" %> <%end%> </a></li>
    </ul>
  </div>
</nav>


<body>


<section>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
  <div id="content">

  <%= yield %>
  </div>
</section>
</body>


<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">

    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <a href="bookings/new" class="btn btn-outline-white btn-rounded"><%= t('book') %></a>
      </li>
    </ul>

  </div>


</footer>
</html>
